<?xml version="1.0"?>
<config>
	<modules>
		<BIS2BIS_Deposito>
			<version>0.1.0</version>
		</BIS2BIS_Deposito>
	</modules>
	<frontend>
		<routers>
            <deposito>
                <use>standard</use>
                <args>
                    <module>BIS2BIS_Deposito</module>
                    <frontName>deposito</frontName>
                </args>
            </deposito>
        </routers>
		<layout>
			<updates>
				<deposito>
					<file>deposito.xml</file>
				</deposito>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
            <deposito>
                <class>BIS2BIS_Deposito_Model</class>
                <resourceModel>deposito_mysql4</resourceModel>
            </deposito>
            <deposito_mysql4>
                <class>BIS2BIS_Deposito_Model_Mysql4</class>
                <entities>
					<deposito>
						<table>deposito</table>
					</deposito>
				</entities>
            </deposito_mysql4>
        </models>     
		<blocks>
			<deposito>
				<class>BIS2BIS_Deposito_Block</class>
			</deposito>
		</blocks>
		<helpers>
            <deposito>
                <class>BIS2BIS_Deposito_Helper</class>
            </deposito>
        </helpers>
		<resources>
            <deposito_setup>
                <setup>
                    <module>BIS2BIS_Deposito</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deposito_setup>
            <deposito_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deposito_write>
            <deposito_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deposito_read>
        </resources>
        <fieldsets>
			<sales_convert_quote_payment>
            	<deposito>
                    <to_order_payment>*</to_order_payment>
                </deposito>
             </sales_convert_quote_payment>
        </fieldsets>
	</global>
    <default>
        <payment>
            <deposito>
                <active>1</active>
                <model>deposito/deposito</model>
                <order_status>processing</order_status>
                <title>Depósito Bancário</title>
            </deposito>
         </payment>
    </default>
</config>