/*CSS Destinado ao One Step Checkout*/

/* == FIX DA ESTRUTURA == */

.wrapper{ min-width: 100%; }

/* == HEADER == */

.header .back-to-catalog{ float:right; text-align:center; }
.header .back-to-catalog p,
.header .back-to-catalog a { color:#000; margin:0; }


  /* ================= */
 /* ===== LOGIN ===== */
/* ================= */

/* == BOXES PRINCIPAIS == */

.login-panel { float:left; width : 357px; min-height:234px; border:1px solid #CCC; padding:10px; background:#FFF; position: relative; }
/*.login-panel button { position: absolute; bottom: 10px; left: 10px; }*/
.login-security-purchase { min-height: 232px; margin-left : 8px; }
.login-security-purchase > p{ text-align: justify;float: left; }
.login-security-purchase > div { float: left;}
.login-new-customer{ margin-left : 15px; width : 358px }
.login-new-customer .new-customer-span{ height: 138px; display: block; text-align: justify; } 
.login-new-customer .btn-register{ display: block; margin : 0 auto; }
.login-panel h2{ margin-bottom:10px; font-family: 'Merriweather', serif;}
.login-panel label{ display:block; }
.login-panel input{ margin:3px 0 6px; width : 280px;}
.login-panel .btn-login { margin: 0 auto; display: block; }
.login-customer { }
.field-required{ color:#FF0000; margin-left:5px;  }
.required-alert{ font-size:12px;  display:block; margin-bottom:5px;   }
.required-alert span{ color:#FF0000;  }
.login-wrapper .page-title{}
/* == BOX DE AJUDA == */

.box-ajuda{ width: 100%; border:1px solid #ccc; text-align:center; margin:20px auto 0 auto; float:left; padding: 20px 0; }
.box-ajuda h4{ font-size:20px; color:#666; }
.box-ajuda h4 span{ color:#92d6e3; text-transform:uppercase; }


  /* ==================== */
 /* ===== CHECKOUT ===== */
/* ==================== */

.col1-button{ width:100%; height:42px; margin-bottom:10px; }

.col3-left,
.col3-middle,
.col3-right{ float:left; margin-right:10px; border: 1px solid #DFDFDF; border-top: none;  }

.col3-left{ width:285px; clear:both; }
/*.col3-left .input-text{ margin:0; }*/
.col3-middle { width:380px; position:relative; }
.col3-right{ width:478px; margin:0; }


.button-container{ float:right; margin-top:10px; }

.back-to-cart{ float : right; }

.loader-field{ font-size:10px; }
.osc-loader{ width:100%; height:100px; text-align:center; vertical-align:middle; }
.osc-loader img{ margin-top:35px; }

/* == ALERTA DE VALIDAÇÃO == */

.osc-validation{ width: 100%; height: 20px;  }
.osc-validation span{ font-family: Arial;  font-size : 10px; float : right; color : #666; font-weight: bold; margin-right: 10px; }
label.error_field{ color : #FF3300; float : left; margin-left : 185px;  }

/* == FOMULÁRIOS == */

#div_shipping_address_form{ display:none; margin-bottom:20px; }
#div_billing_address_form{ margin-bottom:20px; }
.sp-methods .form-list { padding : 0px !important; }
.form-list input.input-text { width: 200px; margin-left : 0 !important; }
.form-list select { width: 210px; }
.sp-methods select.month { margin-right: 10px; width: 104px; }
.field_row{ margin-top:10px; }
.osc_anchor{ clear: both; float : right;  margin-right : 10px; font-size: 12px; }
.osc_input{ padding:2px; width : 150px;  float : right; margin-right: 10px; }
.osc_ieisento{ float : none !important;}
.osc_label { font-size : 10px; padding-left: 10px; float: left; }
.osc_label strong{ font-weight: bold; font-size : 12px; color : #b9b9b9; }
.osc_selected strong{ font-weight: bold;  color : #000000;}
.billing_unique, .shipping_unique{ width:98%; }
.billing_select, .shipping_select{ width:155px; padding:2px; float : right; margin-right: 10px; }
label.error{ color: #FF0000; display: none; float: left; font-size: 11px; font-weight: normal; margin-left: 155px; position: relative; text-align: right; width: 100px; }
input.error, select.error{ color:#666; font-weight:normal; background:#FFC0C0 !important; }
.osc_required{ color:#F00; font-weight:bold; margin-left:3px; }
#ship-method { margin: 10px 10px 20px; }
#ship-method .sp-methods dd ul { margin-left: 0}
.field_pj{ display:none; }
.col-unique{ position : relative; }
.col-unique .left{ margin-left : 190px; }
.col-left{ float: left; width: 47%; margin-right:3%; }
.col-right{ float: right; width: 47%; }


/* == ERROS PGTO E ENVIO == */

.error_osc_msg {  width : 230px; }
.error_osc_msg .msg{ background: #fad7d7;  color : #a91515; font-size: 10px; padding : 10px; margin-top : 10px; border : 1px solid #a91515; word-wrap:break-word; }

.success_osc_msg {  width : 230px; }
.success_osc_msg .msg{ background: #e7ffe7;  color : #009a00; font-size: 10px; padding : 10px; margin-top : 10px; border : 1px solid #009a00; word-wrap:break-word; }


#billing_customer_address, #shipping_customer_address { width : 250px;}

.formpaymentmethod .input-box{ position : relative; }
.formpaymentmethod label.error { display:  none !important; }
.formpaymentmethod .messages{ width : 85% !important; }
.formpaymentmethod .messages .error-msg{ text-align: justify; }
.col-left .osc_input,
.col-right .osc_input{ width:120px; }

#osc_field_billing_newsletter, #osc_field_billing_useasshipping, #osc_field_billing_saveaddress, #osc_field_shipping_saveaddress { margin-left : 10px; float: left; }

#osc_field_billing_pf,
#osc_field_billing_pj { margin-left: 0px; float: left; padding-left: 5px;}

#osc_field_billing_pf{ margin-left : 10px; }


.osc-title{ background: none repeat scroll 0 0 #FFFFFF;  height: 25px; border-bottom: 1px solid #DFDFDF; border-top: 1px solid #DFDFDF; }
.osc-title .number{ background: none repeat scroll 0 0 #7dc042;  text-align : center; line-height : 25px; display: block; font-size: 18px; font-weight: bold; color: #FFFFFF; float : left; position: relative; left: -1px; top: -1px; width : 25px; height: 26px; }
.osc-title h2 { font-size:12px; color: #503732; font-family: 'Merriweather', serif; text-transform: uppercase; font-weight: bold; line-height: 25px; margin-left : 40px;  }

.osc_error_div{ background : #F5A9A9;  margin-bottom : 10px;  border : 1px solid #8A0808; height: 25px; width: 885px; display : none; }
.osc_error_div span{ color: #8A0808; display: block; font-family: arial; font-size: 1em; margin-bottom: 5px; margin-left: 5px; margin-top: 5px; }

button.disabled_ckt{ background: #BBB !important; }

#co-payment-form{ padding-right : 10px; padding-left : 10px; }

/* == SCREEN LOCKER == */
#screenlocker{ display:none;  repeat; width:100%; height:100%; position:absolute; top:0; left:0; z-index:1001; }
#screenlocker > div { width:260px; height:90px; padding:10px; background:#FFF; border-radius:5px; text-align: center;  position:fixed;  left:50%;  margin-left:-130px; }
#screenlocker > img { margin-top : 0px; }


/* == BOTÃO CHECKOUT == */
button.btn-checkout{ border-radius: 5px;  background: #000 !important;  float: right; display : block; }
button.btn-checkout span{  text-transform: uppercase; font-size: 14px !important;
    padding: 10px 20px 10px 25px; line-height: 20px;  height: 20px; }
.btn-checkout:hover{  background-color: #f44246 !important; }
.btn-checkout span:hover{  background: url(../../images/osc/button.png) no-repeat scroll left center rgba(0, 0, 0, 0)    }
.btn-checkout-disabled{ opacity : 0.2; }


/* == POPUPS == */
.hover-img{ display:none; position:absolute; left:55px; top:0px; border:1px solid #CCC; box-shadow:0px 0px 15px rgba(0,0,0, .5); }
.img-product{ cursor:pointer; }
.img-wrapper{ position:relative; }
.alert{ display:none; color:#B94A48; background-color:#F2DEDE; border:1px solid #EED3D7; border-radius:5px; padding:5px 10px; margin:5px; }
 
 /* ================= */
 /* ===== CIELO ===== */
/* =================+ */

.form-list .select_cartoes{width: 35px;}
div#payment_form_cielo{ margin-bottom : 20px; }
.pagamento_cartoes table{margin-top: 5px;}
.pagamento_cartoes table tr{height: 15px;}
ul.bandeiras_checkout{margin-top: 10px;display: block !important;}
ul.bandeiras_checkout li{float: left;cursor: pointer; height: 45px;}
ul.bandeiras_checkout li img{margin: 6px;}
ul.bandeiras_checkout input[type='radio']{ display : none; }
#advice-required-entry-billing{ display : none;}
select.select_cartao{width: auto;}
.field_td.small{width: 145px;}
.input-box.small{width: 145px;}
.input-box .codigo_seguranca{width: 40px !important;}
.input-text .codigo_seguranca{width: 40px !important;}
.ul-flag-type-required{ display : block !important;}
.ul-flag-type-required .li-error{ color :#FF0000; display : none; }
.form-list div.codigo_seguranca { width : 130px !important;}
.a_codigo{ float: right;font-size: 11px; color : #FF0000; margin-right: 60px; margin-top: 5px; }
#cvv-image{ width : 500px; height: 210px; left : 50%; margin-left : -250px; top : 50%; margin-top : -105px; z-index : 1000000 ; background : #FFF; padding : 20px; display : none; position: absolute; box-shadow: 0px 0px 15px rgba(0,0,0, .7); }
#cvv-image .close{ cursor : pointer; text-decoration: none; font-family : arial; font-size : 20px; position : absolute; top : 10px; right : 15px; color : #E2E2E2; }
.customer_address_row{ width : 250px; margin-left : 0; }
.customer_address_row span { margin-left: 0 !important}
fieldset.select_address_billing { display: inline-block;}

 
 /* ================================ */
 /* ===== TERMO DE COMPROMISSO ===== */
 /* ================================ */

#term_wrapper                    {	  																																								}
#term_wrapper #text_term 	  	 { 	 border : 1px solid black; height: 90px; overflow: auto; width: 345px; float : right ; text-align: justify; 						    						}
#term_wrapper .title 			 { 	 color: #666; font-size: 12px; font-weight: bold; line-height: 25px; text-transform: uppercase; float : right; margin-right : 185px; 		}
#term_wrapper label 		     {   font-weight: bold; float : right ;																						                						}
#term_wrapper .accept_wrapper    {   width : 280px; margin-left : 40px; 						                    } 



 /* ================================ */
 /* ======= CUPOM DE DESCONTO ====== */
 /* ================================ */

 #coupon_container{ padding : 10px 5px 10px 5px; }
 #coupon_container .text_coupon{ height: 20px; width : 120px;  }
 #coupon_container .button_coupon_use, #coupon_container .button_coupon_cancel { background :  #4fc878; vertical-align: top; border : none;  padding : 5px; cursor : pointer; }
 #coupon_container .button_coupon_use span, #coupon_container .button_coupon_cancel span { text-transform: uppercase; color : #FFFFFF; font-weight: bold; }
 #coupon_container .button_coupon_use:hover, #coupon_container .button_coupon_cancel:hover { background: #00b326; }


 /* ================================ */
 /* ======= CAMADA TRANSPARENTE====== */
 /* ================================ */


 #loading-overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent; opacity: 0.7; display: none; z-index: 99999999; }

.login-wrapper .f-right{ /*width: 32%; */}
.login-wrapper .f-left{width: 68%;}
.login-customer, .login-new-customer, .col3-left, .col3-middle, .col3-right, .login-security-purchase, .box-ajuda{
	-webkit-transition: all .50s ease;
	   -moz-transition: all .50s ease;
	    -ms-transition: all .50s ease;
	     -o-transition: all .50s ease;
	        transition: all .50s ease;
}

@media (min-width: 0px) and (max-width: 750px) {


	.osc-onepage-login .main, .osc-onepage-checkout .main{width: 100%;}
	.header{width: 100%;}
	.footer{width: 100%;}
	.login-wrapper .f-left, .login-wrapper .f-right{float: none !important ;}
	.login-wrapper .f-left > div, .login-security-purchase,  .main, .header, .footer{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 
	.login-security-purchase{margin-left: 0; width: 100%;}
	.login-wrapper .f-left{width: 100%;}
	.login-wrapper .f-left > div{ margin: 4px 7px 5px 0; width: 100%;} 
	.col3-left{width: 100%; margin-right: 0; margin-bottom: 10px; }
	.col3-middle{  margin-left: 0px; margin-right: 0; width: 100%;	 }
	.col3-right{  margin-left: 0px; margin-top: 10px; width: 100%;}  
	.osc_input{ display: inline-block; margin-right: 3px; width: 98%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.billing_select, .shipping_select{width: 96%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	.login-panel input{width: auto;}
	.page-title h1 { font-size:1em }
}



@media (min-width: 751px) and (max-width: 979px){
	

	.osc-onepage-login .main, .osc-onepage-checkout .main{width: 100%;}
	.header{width: 100%;}
	.footer{width: 100%;}
	.login-wrapper .f-left, .login-wrapper .f-right{float: none !important ;}
	.login-wrapper .f-left > div, .login-security-purchase,  .main, .header, .footer{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 
	.login-security-purchase{margin-left: 0; width: 99%;}
	.login-wrapper .f-left{width: 100%;}
	.login-wrapper .f-left > div{ margin: 4px 7px 5px 0; width: 49%;}   
	.col3-left{width: 50%; margin-right: 0;}
	.col3-middle{  margin-left: 10px; margin-right: 0; width: 48%;	}
	.col3-right{  margin-left: 10px; margin-top: 10px; width: 48%;} 
	.osc_input{width: 72%;}
	.billing_select, .shipping_select{width: 74%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


}



@media (min-width: 980px) {

	.login-wrapper .f-right{width: 33%;}
	.login-wrapper .f-left{width: 67%;}


}

.header{    
	margin: 0 auto;
    padding: 20px 0 0;
    position: relative;
    text-align: right;
    width: 1170px;
    z-index: 100;
}

.new-customer-span{
	margin-left: 10px !important;
}

.data-table thead th {
	border-right: 1px solid #C3C3C3;
}

#checkout-review-load div#checkout-review-table-wrapper table#checkout-review-table.data-table thead tr.headers-osc th{
	background: none repeat scroll 0 0 #DCDCDC;
}

.bodies-osc td {
    border-bottom: 1px solid #C3C3C3 !important;
    border-right: 1px solid #C3C3C3 !important;
}