#atributos-principal { }
#atributos-principal h2{ font-size : 14px; }
#atributos-principal h2 em{ color : #FF0000; }
#atributos-principal .cores-lista-atributos  li{ margin-right: 10px; float: left; }
#atributos-principal .cores-lista-atributos  li a { display : block;  cursor : pointer; width : 20px; height : 20px;  outline : 2px solid lightgray;   }
#atributos-principal .cores-lista-atributos  li a img { width: 20px; height: 20px; }
#atributos-principal .cores-lista-atributos  li a.selecionado{ outline: 2px solid #000067; }
#atributos-principal .outros-lista-atributos li  { *float :left ; display: inline-block; margin-right: 5px; }
#atributos-principal .outros-lista-atributos li a{ display: block; cursor: pointer;  padding: 2px 6px 2px 6px; border : 1px solid #000;  text-decoration: none; color : #000067; }
#atributos-principal .outros-lista-atributos li a:hover { background: #000067; color : #FFF;}
#atributos-principal .outros-lista-atributos li a.selecionado{  background: #000067; color : #FFF; }
#atributos-principal .outros-lista-atributos li a.desabilitado{ background: #CCC; color : #333; }
#atributos-principal .div_oculta { display: none; }

.colors .color-list { margin: 0 5px 5px 0; padding: 1px; border: solid 1px #ccc; float: left; } 
.colors .color-list img,
.colors .color-list a { display: block; width: 20px; height: 20px; }
.colors .color-list:hover { outline: 1px solid red; }
.colors .color-list.desabilitado { opacity: 0.5; }
.colors .color-list.desabilitado:hover { outline: none }

.errors { color :#FF0000; font-weight: bold; display: none; }