<?xml version="1.0"?>
<config>
    <tabs>
        <osc translate='label' module='osc'>
            <label>Botões OSC/Carrinho</label>
            <sort_order>1</sort_order>
        </osc>
    </tabs>
    <sections>
        <osc translate="label" module="osc">
            <tab>osc</tab>
            <label>Alterar texto</label>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config translate="label" module="osc">
                    <label>Textos</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                    <![CDATA[
                        <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
                        Este módulo foi desenvolvido pela <a href="http://www.bis2bis.com.br" target="_blank">Bis2bis Comércio Eletrônico</a>.
                        Por favor reportar bugs para <a href="mailto:suporte@bis2bis.com.br">suporte@bis2bis.com.br</a>.
                        </div>
                    ]]>
                    </comment>
                    <expanded>1</expanded>
                    <fields>
                       <botao_osc translate="label">
                            <label>Botão Osc</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                       </botao_osc>
                       <botao_carrinho translate="label">
                            <label>Botão Carrinho</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                       </botao_carrinho>
                    </fields>
                </config>
            </groups>
        </osc>
    </sections>
</config>