div.cat-fillter {float: right !important;}
div.order-fillter { 
    float: right !important;
    margin-left: 15px !important;
    padding-left: 15px;
}
div.product-title {
    float: left;
 
    padding: 0 0 0 10px;
}
/**** Isotope CSS3 transitions ****/ 
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;

}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


#mtcontainer { 
  padding: 5px;
  margin-bottom: 0;
  overflow:visible !important;
}

.element { 
  margin: 0 9px 20px;
  float: left; 
  position: relative;
  color: #222;
  text-align: center;
  padding: 0;
  display:none;
  z-index:0;
}

.element a.product-image img{ border:1px solid #E5E5E5; width:100%;}
.element img:hover{}
.element .product-name{ margin:10px 0 30px; }
.element .price-box { width:50%; margin:0; float:left; text-align:center; }
.element .actions { width:50%; float:right; }


.element.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element.other.nonmetal  { background: #00F; background: hsl( 252, 100%, 50%); }
.element.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


.element * {
 /*  margin: 0;
  width:100%; */
}

.element .symbol {
  left: 0.2em;
  top: 0.4em;
  font-size: 3.8em;
  line-height: 1.0em;
  color: #FFF;
}
.isotop-loading {width: 100%; height: 50px;background: #fff url(images/loading.gif) no-repeat 50% 50%; z-index: 99; }
.element.large .symbol {
  font-size: 4.5em;
}

.element.fake .symbol {
  color: #000;
}

.element .name {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em;
}

.element .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em;
}

.element .number {
  font-size: 1.25em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.5em;
  top: 0.5em;
}

.variable-sizes .element.width2 { width: 230px; }

.variable-sizes .element.height2 { height: 230px; }

.variable-sizes .element.width2.height2 {
  font-size: 2.0em;
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  /* text-shadow:
    0 0 10px white,
    0 0 10px white
  ; */
  color:#fff;
}

.clickable .element:hover h2 {
  color: white;
}
/**** Example Options ****/

#options {
  padding-bottom: 1.0em;
  padding-top: 15px;
}

#options h3 {
  margin-bottom: 0.2em;
  font-size: 15px;
}

#options h4 { 
  font-weight: bold;
}

#options ul {
  margin: 0;
  list-style: none;
}

#options ul ul {
  margin-left: 1.5em;
}

#options li {
  float: left;
  margin-bottom: 0.2em;
}

#options li a {
  display: block;
  padding: 0.4em 0.5em;
  background:#ddd;
  color: #fff;
  font-weight: bold;
}

#options li a:hover {

}

#options li a:active {
  
}

#options li a {
  border-right:1px solid #fff;
  transition: all 400ms ease-in-out 0s;
  font-size:90%;
}

#options li:first-child a {
  border-left: none;
}

#options li:last-child a {
}

#options li a.selected ,#options li a:focus{
 
 outline:none;
}
#options li.ascending, #options li.descending {}
#options li.ascending a {
    background:#ddd url(images/ascending.png) 5px 50% no-repeat;
    padding-left: 0;
	width:25px

}
#options li.descending a {
	background:#ddd url(images/descending.png) 5px 50% no-repeat;
    padding-left: 0;
	width:25px

}

/* Combination filter options*/

#options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

#options .option-combo ul {
  margin-right: 20px;
  display: inline-block;
}

#options .option-combo h2,
#options .option-combo h4 {
  line-height: 34px;
  margin-bottom: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}



@media (min-width: 940px) and (max-width: 1170px) {
    #mtcontainer .element {
		width: 201px !important;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	#mtcontainer .element {
		width: 202px !important;
	}
}
@media (max-width: 767px) {
	#mtcontainer .element {
		width: 202px !important;
	}
}

@media (max-width: 480px) {
	
	#mtcontainer .element {
		width: 236px !important;
	}
    
    .main-inner {
        padding: 5px !important;
    }
    div.order-fillter {
        float: left !important;
        margin-left: 5px !important;
        padding-left: 5px !important;
		padding-bottom: 5px !important;
        width: 100%;
    }
    div.cat-fillter {
		float: left !important;
		margin-left:10px !important;
	}
}
a.bg-transparent {
    background: url(images/bg-transparent.png) repeat scroll 0 0px, url(images/hover-link.png) no-repeat scroll center center transparent;
    display: block;
    height: 240px;
    left: 10px;
    position: absolute;
    text-align: center;
    text-indent: -999em;
    top: 6px;
    transform: scale(0);
    transition: all 300ms ease-in-out 0s;
    visibility: hidden;
	width: 92%;
    z-index: 10;
	}
.element:hover  a.bg-transparent {visibility: visible; transform: scale(1);}
