<div>
	<h2>Olá, {{var name_to}}</h2>
	<p>Obrigado por comprar na {{var store_name}}</p>
	<p>Pensando em sua comodidade, enviamos a você o link (abaixo) para geração de uma segunda via do boleto referente ao seu pedido #<a href="{{var url_print}}">{{var order_increment_id}}</a>, gerado em nosso site.</p>
	<a href="{{var url_segunda_via}}">
		<img src="{{var url_imagem}}" alt="2ª Via Boleto Bancário">
	</a>
	<p>É importante lembrar que, caso já tenha efetuado o pagamento, favor desconsiderar este e-mail.</p>
	<p>Atenciosamente, {{var store_name}}.</p>
</div>