h2 {font-size:100%;}
#options li a {font-size:90%;}
.mt-top-menu .language-switcher a {float:left;}
#nav ul.level0 li { width:150px;}
#nav ul.level0 li.menu-static-blocks {width:200px;}
.arrowButton .nextArrow , .arrowButton .prevArrow {top:100px;}
.fb_iframe_widget iframe { width:200px !important;} 
.mt-footer-static-inner  p ,.footer-static-content {font-size:90%; line-height:20px; font-weight:normal;}
.mt-footer-static-inner h2 { margin :0; }
.footer address ,.footer a { font-size:90%;line-height:30px;font-weight:normal;} 
.footer a {line-height:40px;}
.block-subscribe label  ,.mt-footer-static-container-top .mt-shipping-inner h3{ font-size:126%;}
.pager .sort-by label ,.pager .view-mode label,.pager .limiter label,.mt-toolbar-label {font-size:90%;}
.toolbar select {width:60px;}
.category-products .product-image .bg-transparent { height:230px;}
.scroller-slider > ul > li{ width:150px ; height:150px; }


.mt-top-menu .links a {font-size: 90%;}
#nav ul.level0 li { width:148px;  }
.arrowButton .prevArrow ,.arrowButton .nextArrow{ top: 121px !important;}
#mtcontainer {padding: 0;}
.element {margin:0 0 12px 17px; width:150px;}
#mt_productscroller .product-thumb a.bg-transparent { height: 84%; left: 5px;}
#block-related a.bg-transparent {left: 6px; height: 195px; }
address { font-size: 97%;}
.category-products .product-image .bg-transparent { height: 229px;}
.toolbar select {width: 64px;}
.fb_iframe_widget ,.fb_iframe_widget iframe {width: 215px !important;}
.block-subscribe label ,.mt-footer-static-container-top .mt-shipping-inner h3 { font-size: 120% ;}
.block-progress dt { font-size:  90%;}
div.cat-fillter { min-width: 300px !important;}
.scroller-slider { width: 98% !important;}
.scroller-slider > ul > li { margin: 0 13px;  width: 200px !important;}
.isotope .isotope-item {width:204px !important;}
.scroller-slider { width: 100% !important;}
a.bg-transparent ,.scroller-slider > ul > li a.bg-transparent{ width: 96% ; left: 5px; height: 195px;}
.isotop-loading {width: 90%; }
.pager .sort-by label  ,.pager .view-mode label ,.pager .limiter label{ font-size:90%;}
.mt-sort-by .pull-left { width:25%;}
.mt-limiter  .mt-toolbar-label { font-size:85%; float:left;}
.mt-limiter .mt-slabel-2  {width:28%;  margin:0 5px }
.mt-limiter .mt-slabel-1 { width:20%;  }
.pager .limiter label   {font-size:90%;}
#block-upsell { width:887px !important;}
#block-upsell .item { width:223px !important;}

#logoscrller {width:900px !important;  }

.ie8 div.product-image:hover .mask { background: url("../images/ie-mt-product-list.png") repeat 0 0; }

.items-slider .mask ,.isotope-item .mask ,.item-inner .mask {background: url("../images/ie-mt-product-list-hover.png") repeat 0 0; bottom:1px;}
#block-related .item-inner .mask {bottom: 11px;}

.items-slider .mask  a, .isotope-item .mask a  ,.item-inner .mask a{ color:#727272;}
.items-slider .no-rating,.items-slider .ratings,.isotope-item .no-rating,.isotope-item  .ratings ,.item-inner .mask .no-rating ,.item-inner .mask .ratings {padding:0 ;}
.product-image:hover .mask,.mini-products-list .mt-product-image:hover .mask/* .mt-product-image:hover .mask, */ .items-slider .mask:hover,.isotope-item .mask:hover , .isotope-item .mask:hover,.item-inner .mask:hover{ background: url("../images/ie-mt-product-list.png") repeat 0 0; } 
.items-slider .mask:hover  h3.product-name,.isotope-item .mask:hover h3.product-name ,.item-inner .mask:hover h3.product-name{ margin:50px 0 30px;} 
.items-slider .mask:hover a,.isotope-item .mask:hover a , .item-inner .mask:hover a{ color:#fff; }
.top-actions-inner { margin:20px 0 10px;} 
.items-slider  .product-name { margin: 10px 0 30px;}
.products-grid .product-image:hover {border:none !important;}
.products-grid  .item-inner .mask { width:99%;}

.product-collateral .box-collateral li ,.products-grid .product-image img{height:280px !important; width:100% ;}
.block-bestseller .mini-products-list .product-image { z-index:0; float:left;width:40%; height:100%;}
 
.short-description{font-size:80% !important;} 
 
.slide_item h2 { top:200px !important; }
.slide_item p.description {top:230px !important; font-size:425% !important;}
.slide_item p.readmore { top:295px !important;}

.block-poll input.radio {margin-right:10px;}
