<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <filtro translate="label" module="filtro">
            <label>Configuração do Filtro</label>
            <sort_order>10</sort_order>
        </filtro>
    </tabs>
    <sections>
        <filtro translate="label" module="filtro">
            <label>Filtro</label>
            <tab>filtro</tab>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config translate="label" module="filtro">
                    <label>Parâmetros</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        
                        <habilitado translate="label">
                            <label>Habilitar filtro</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </habilitado>

                        <preco_habilitado translate="label">
                            <label>Habilitar filtro de preço</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </preco_habilitado>

                        <atributo_cor translate="label">
                            <label>Atributo de cor</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </atributo_cor>
                        

                         <modulo_cor translate="label">
                            <label>Habilitar Cores</label>
                            <frontend_type>select</frontend_type>
                            <source_model>filtro/Cores</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </modulo_cor>

                    </fields>
                </config>
            </groups>
        </filtro>
    </sections>
</config>