<?xml version="1.0" ?>
<config>
    <modules>
        <BIS2BIS_Comprejunto>
            <version>0.1.0</version>
        </BIS2BIS_Comprejunto>
    </modules>
	<admin>
		<routers>
			<BIS2BIS_Comprejunto>
				<use>admin</use>
				<args>
					<module>BIS2BIS_Comprejunto</module>
					<frontName>admincomprejunto</frontName>
				</args>
			</BIS2BIS_Comprejunto>
		</routers>
		<layout>
            <updates>
                <adminhtml_comprejunto>
                    <file>comprejunto.xml</file>
                </adminhtml_comprejunto>
            </updates>
        </layout>
	</admin>
    <frontend>      
        <routers>
            <BIS2BIS_Comprejunto>
                <use>standard</use>
                <args>
                    <module>BIS2BIS_Comprejunto</module>
                    <frontName>comprejunto</frontName>
                </args>
            </BIS2BIS_Comprejunto>
        </routers>
        <layout>
            <updates>
                <front_comprejunto>
                    <file>comprejunto.xml</file>
                </front_comprejunto>
            </updates>
        </layout>
    </frontend>
    
    <global>
		<blocks>
			<BIS2BIS_Comprejunto>
				<class>BIS2BIS_Comprejunto_Block</class>
			</BIS2BIS_Comprejunto>
		</blocks>
    	<events>
            <checkout_cart_update_items_before>
                <observers>
                    <comprejunto>
                        <class>comprejunto/observer</class>
                        <method>comprejuntoCartUpdateBefore</method>
                    </comprejunto>
                </observers>
            </checkout_cart_update_items_before>
			<checkout_cart_product_add_after>
                <observers>
                    <comprejunto>
                        <class>comprejunto/observer</class>
                        <method>addDescontoCompreJunto</method>
                    </comprejunto>
                </observers>
            </checkout_cart_product_add_after>
			
        </events>
        <fieldsets>
            <sales_convert_quote_item>
                <comprejunto_amount><to_order_item>*</to_order_item></comprejunto_amount>
                <base_comprejunto_amount><to_order_item>*</to_order_item></base_comprejunto_amount>
            </sales_convert_quote_item>
        </fieldsets>
        <models>
			<comprejunto_mysql4>
				<class>BIS2BIS_Comprejunto_Model_Mysql4</class>
				<entities>
					<comprejunto><table>comprejunto</table></comprejunto>
				</entities>
			</comprejunto_mysql4>
            <comprejunto>
                <class>BIS2BIS_Comprejunto_Model</class>
				<resourceModel>comprejunto_mysql4</resourceModel>
            </comprejunto>
            <sales>
        		<rewrite>
        			<quote_item>BIS2BIS_Comprejunto_Model_Sales_Quote_Item</quote_item>
        		</rewrite>
        	</sales>
        </models>
        <resources>
            <comprejunto_setup>
                <setup>
                    <module>BIS2BIS_Comprejunto</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </comprejunto_setup>
            <comprejunto_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </comprejunto_write>
            <comprejunto_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </comprejunto_read>
        </resources>
        <helpers>
            <comprejunto>
                <class>BIS2BIS_Comprejunto_Helper</class>
            </comprejunto>
        </helpers>
    </global>
	<adminhtml>
		<layout>
            <updates>
                <comprejunto>
                    <file>comprejunto.xml</file>
                </comprejunto>
            </updates>
        </layout>
		<menu>			
			<comprejunto module="comprejunto">
				<title>Compre Junto</title>
				<sort_order>72</sort_order>               
				<children>
					<items module="comprejunto">
						<title>Configurar</title>
						<sort_order>0</sort_order>
						<action>admincomprejunto/Index</action>
					</items>
				</children>
			</comprejunto>					
		</menu>
		<acl>
            <resources>
                <all>
					<title>Compre Junto</title>
				</all>
				<admin>
					<children>
						<comprejunto>
							<title>Compre Junto</title>
							<sort_order>11</sort_order>
							<children>
								<items module="comprejunto">
									<title>Configurar</title>
									<sort_order>0</sort_order>
									<action>admincomprejunto/Index</action>
								</items>
							</children>
						</comprejunto>						
					</children>
				</admin>
			</resources>        
		</acl>
	</adminhtml>

</config>