<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <BIS2BIS_GoogleTagManager>
            <version>0.1.0</version>
        </BIS2BIS_GoogleTagManager>
    </modules>
    <frontend>
        <layout>
            <updates>
                <googletagmanager>
                    <file>googletagmanager.xml</file>
                </googletagmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <googletagmanager>
                <use>admin</use>
                <args>
                    <module>BIS2BIS_GoogleTagManager</module>
                    <frontName>googletagmanager</frontName>
                </args>
            </googletagmanager>
        </routers>    
    </admin>
    <global>
        <models>
            <googletagmanager>
                <class>BIS2BIS_GoogleTagManager_Model</class>
            </googletagmanager>
        </models>
    </global>
    <default>
        <googletagmanager>
            <type>
                <type_google_analytics>new_version</type_google_analytics>
            </type>
            <config>
                <active_google_analytics>0</active_google_analytics>
                <id_google_analytics></id_google_analytics>
                <domain_google_analytics></domain_google_analytics>
                <active_google_analytics_commerce>0</active_google_analytics_commerce>
            </config>
        </googletagmanager>
    </default>
</config>