<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<BIS2BIS_RelatoriosVendas>
			<version>0.1.0</version>
		</BIS2BIS_RelatoriosVendas>
	</modules>
	
	 <frontend>
        <routers>
            <relatoriosvendas>
                <use>standard</use>
                <args>
                    <module>BIS2BIS_RelatoriosVendas</module>
                    <frontName>relatoriosvendas</frontName>
                </args>
            </relatoriosvendas>
        </routers>
    </frontend>
    
      <admin>
        <routers>
            <relatoriosvendas>
                <use>admin</use>
                <args>
                    <module>BIS2BIS_RelatoriosVendas</module>
                    <frontName>relatoriosvendas</frontName>
                </args>
            </relatoriosvendas>
        </routers>    
    </admin>
    <resources>
	   <connection>
            <relatoriosvendas_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </relatoriosvendas_write>
            <relatoriosvendas_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </relatoriosvendas_read>
            </connection>
        </resources>
	<global>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<relatorioetiqueta>
						<type>singleton</type>
						<class>BIS2BIS_RelatoriosVendas_Model_Observer</class>
						<method>addActions</method>
					</relatorioetiqueta>
				</observers>
			</core_block_abstract_to_html_before>
		</events>
		<models>
            <relatoriosvendas>
                <class>BIS2BIS_RelatoriosVendas_Model</class>
            </relatoriosvendas>
        </models>
	</global>
</config>