.marcas-carousel { clear: both; }
.marcas-carousel h2 { text-align: left; font-family: "Trebuchet MS"; background-color: #618499; color: #FFF; font-size: 18px; padding: 5px 20px; margin: 0;}
.marcas-carousel .marcas-carousel-content { background-color: #FFF; padding: 20px 0; position: relative; }
.marcas-carousel .button-bg { display: block; width: 50px; height: 50px; position: absolute; top: 20px; }


.marcas-carousel .jcarousel-prev,
.marcas-carousel .jcarousel-next { cursor: pointer; display: block; float: left; height: 22px; position: absolute; top: 14px; width: 14px; z-index: 1;}
.marcas-carousel .jcarousel-prev { background: url(prev-horizontal.png) no-repeat -14px -5px; }
.marcas-carousel .jcarousel-next { background: url(next-horizontal.png) no-repeat -5px -4px; }
.marcas-carousel .jcarousel-prev { left: 0px; }
.marcas-carousel .jcarousel-next { right: 0px; }
.marcas-carousel .jcarousel-next-disabled,
.marcas-carousel .jcarousel-prev-disabled { opacity: 0.7; cursor: default;}

.marcas-home {width: 100%; border: 1px solid #c4c1bc;}
.marcas-category { width: 100%; border: 1px solid #c4c1bc; }

.jcarousel-skin-marcas-home .jcarousel-container .jcarousel-item { width: 160px; margin: 0 25px}
.jcarousel-skin-marcas-home .jcarousel-clip { width: 90%; margin: 0 auto; overflow: hidden; }

.jcarousel-skin-marcas-category .jcarousel-container .jcarousel-item { width: 140px; margin: 0 15px}
.jcarousel-skin-marcas-category .jcarousel-clip { width: 90%; margin: 0 auto; overflow: hidden; }


