<?xml version="1.0"?>
<config>
    <tabs>
        <ebit translate='label' module='ebit'>
            <label>Configuração Ebit</label>
            <sort_order>1</sort_order>
        </ebit>
    </tabs>
    <sections>
        <ebit translate="label" module="ebit">
            <tab>ebit</tab>
            <label>Script</label>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config translate="label" module="ebit">
                    <label>Script</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                    <![CDATA[
                        <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
                        Este módulo foi desenvolvido pela <a href="http://www.bis2bis.com.br" target="_blank">Bis2bis Comércio Eletrônico</a>.
                        Por favor reportar bugs para <a href="mailto:suporte@bis2bis.com.br">suporte@bis2bis.com.br</a>.
                        </div>
                    ]]>
                    </comment>
                    <expanded>1</expanded>
                    <fields>
                       <script translate="label">
                            <label>Script Ebit</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                       </script>
                    </fields>
                </config>
            </groups>
        </ebit>
    </sections>
</config>